body {
    background-color: #666666;
    color: white;
}

.gridLayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin: 50px 10% 0 10%;
}

.picOfMe {
    width: 100%;
}

.picContainer {
    width: 100%;
}

.textContainer {
    text-align: center;
    background-color: white;
    width: 100%;
    height: auto;
    color: black;
    float: right;
}

.textFont {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ptext {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    padding: 50px 30px 20px 30px;
}

.resumeLink {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
}


@media (max-width: 1000px) {
    .gridLayout {
        display: grid;
        grid-template-columns: 1fr;
    }
}