.textTop {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px
}
.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
}

.boxHolder {
    height: 400px;
    width: 450px;
    background-color: lightgrey;
    margin: auto
}

.images {
    max-width: 100%;
    /* height: 200px;
    width: 400px;
    padding-top: 25px;
    padding-left: 25px; */
}

.viewButton {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 10%;
    padding: 0 10px 0 10px;
    margin: 300px 0px 0px 200px;
    align-items: center;
    align-self: center;
}


