.textTop {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color: lightgrey
}
.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
}

.boxHolder {
    border-radius: 10%;
    padding-bottom: 15px;
    height: auto;
    width: 600px;
    background-color: lightgrey;
    margin: auto
}

.images {
    max-width: 100%;
}

.viewButton {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 10%;
    padding: 0 10px 0 10px;
    text-align: center;
    display: block;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.childrenBox {
    width: 100%;
    position: relative;
    height: 275px;
}

.arrows {
    top: 60px;
}

.dots {
    width: 54px;
}
@media (max-width: 1220px) {
.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 50px;
}
}
@media (max-width: 620px) {
    .boxHolder {
        width: 300px;
    }
    .childrenBox {
        height: 140px;
    }
    .arrows {
        top: -5px;
    }
    .dots {
        width: 25%;
    }
}

@media (max-width: 390px) {
    .boxHolder {
        width: 250px;
    }
    .childrenBox {
        height: 115px;
    }
    .arrows {
        top: -15px;
    }
    .dots {
        width: 30%;
    }
}
